@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------------------------HEADER------------------- */
header {
  background-color: #fbe7c6;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans", sans-serif;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
header .backgroundNav {
  width: 100%;
  background-color: #fbe7c6 !important;
}
header img {
  width: 100px;
  height: 100px;
  margin: 10px;
  transition: 1s;
  animation: transformar 4s 1s ease-in-out;
}
@keyframes transformar {
  5% {
    transform: scale(1.2);
  }
  10% {
    transform: scale(1);
  }
  15% {
    transform: rotateZ(1deg);
  }
  90% {
    transform: rotateZ(360deg);
  }
  95% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
header img:hover {
  transform: scale(1.1);
}

header nav .container-fluid div ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .container-fluid div ul li {
  list-style: none;
  background-color: rgba(217, 116, 170, 0.814);
  border: 2px solid rgba(217, 116, 170, 0.881);
  padding: 3px;
  margin: 10px;
  transition-duration: 1s;
}
header nav .container-fluid div ul li:hover {
  transform: scale(1.1);
}
header nav .container-fluid div ul li a {
  text-decoration: none;
  color: beige;
}

/* ---------------------------MAIN-------------------- */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.532), rgba(0, 0, 0, 0.503)),
    url("../img/fondo.jpeg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero h1 {
  font-size: 120px;
  font-weight: bolder;
  font-style: italic;
  margin-bottom: 20px;
  text-shadow: 0px 0px 7px rgba(238, 129, 129, 0.9);
}
.hero h2 {
  font-size: 50px;
  font-style: italic;
  margin: 10px;
}
.hero div {
  width: 80%;
  margin: 0 auto;
}
.hero div p {
  font-size: 30px;
}
.servicioPersonalizado {
  background-color: #fbe7c6;
  background-size: cover;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  justify-content: space-evenly;
}
.animate__animated.animate__fadeIn {
  --animate-duration: 2s;
}
.servicioPersonalizado .servicioTextoContenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.servicioPersonalizado .servicioTextoContenedor h2 {
  border: 2px solid black;
  width: 600px;
  text-align: center;
  margin: 15px;
  padding: 5px;
  background-color: rgba(250, 128, 114, 0.736);
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
}
.servicioPersonalizado .servicioTextoContenedor p {
  width: 580px;
  text-align: center;
  border: 1px solid gray;
  margin: 10px;
  background-color: #b4f8c9b3;
  padding: 10px;
  font-size: medium;
}
.servicioPersonalizado .servicioTextoContenedor button {
  width: 90px;
  height: 30px;
  background-color: rgba(127, 255, 212, 0.419);
  /* margin-bottom: 10px;
  margin-left: 10px; */
  align-self: start;
  transition: 1s;
}
.servicioPersonalizado .servicioTextoContenedor button:hover {
  transform: scale(1.2);
  background-color: #a72f2f;
}
.servicioPersonalizado .servicioTextoContenedor button:hover a {
  color: white;
}
.servicioPersonalizado .servicioTextoContenedor button a {
  text-decoration: none;
  color: black;
  font-size: larger;
  font-style: oblique;
  font-weight: bold;
}
.servicioPersonalizado .servicioImagen {
  margin: 20px 0px 20px 0px;
}
.servicioPersonalizado .servicioImagen img {
  width: 550px;
  height: 500px;
  margin: 10px;
}
.primerGradiente {
  background: rgb(251, 231, 198);
  background: linear-gradient(
    180deg,
    rgba(251, 231, 198, 1) 0%,
    rgba(230, 197, 216, 1) 100%
  );
  width: 100%;
  height: 40px;
}
.trabajos {
  background-color: #e6c5d8;
  background-size: cover;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  justify-content: space-evenly;
}
.trabajos .trabajosTexto {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 40px;
}
.trabajos .trabajosTexto h2 {
  border: 2px solid black;
  width: 500px;
  height: 100px;
  text-align: center;
  margin: 15px;
  padding-top: 15px;
  background-color: rgba(250, 128, 114, 0.736);
  font-size: 40px;
  font-weight: bold;
  justify-self: start;
}
.trabajos .trabajosTexto p {
  width: 480px;
  text-align: center;
  border: 1px solid gray;
  background-color: #b4f8c9b3;
  margin: 10px;
  padding: 10px;
  font-size: medium;
}
.trabajos .trabajosTexto button {
  background-color: rgba(127, 255, 212, 0.419);
  width: 90px;
  height: 30px;
  align-self: start;
  transition: 1s;
}
.trabajos .trabajosTexto button:hover {
  transform: scale(1.2);
  background-color: #a72f2f;
}
.trabajos .trabajosTexto button:hover a {
  color: white;
}
.trabajos .trabajosTexto button a {
  text-decoration: none;
  color: black;
  font-size: larger;
  font-style: oblique;
  font-weight: bold;
}
.trabajos .trabajosImagen .carousel-inner div img {
  overflow: hidden;
}
.trabajos .trabajosImagen img {
  width: 700px;
  height: 500px;
  margin: 40px 0px 40px 10px;
}
.segundoGradiente {
  background: rgb(236, 248, 127);
  background: linear-gradient(
    0deg,
    rgba(236, 248, 127, 1) 0%,
    rgba(230, 197, 216, 1) 100%
  );
  width: 100%;
  height: 40px;
}
.productosPopulares {
  background-color: #ecf87f;
  height: 600px;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.productosPopulares h2 {
  border: 2px solid black;
  width: 650px;
  height: 80px;
  text-align: center;
  padding: 5px;
  background-color: rgba(250, 128, 114, 0.736);
  font-size: 40px;
  font-weight: bold;
  align-self: center;
}
.productosPopulares .contenedorProductos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.productosPopulares .contenedorProductos div {
  border: 1px solid black;
  width: 250px;
  height: 310px;
  text-align: center;
  margin: 15px;
  background-color: rgb(235, 186, 80);
}

.productosPopulares .contenedorProductos div h3 {
  margin: 10px;
  text-decoration: none;
  color: black;
  padding: 5px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
}
.productosPopulares .contenedorProductos div img {
  width: 250px;
  height: 250px;
}

.productosPopulares button {
  background-color: rgba(127, 255, 212, 0.419);
  width: 120px;
  height: 30px;
  align-self: end;
  margin-right: 15px;
  transition: 1s;
}
.productosPopulares button:hover {
  transform: scale(1.2);
  background-color: #a72f2f;
}
.productosPopulares button:hover a {
  color: white;
}
.productosPopulares button a {
  text-decoration: none;
  color: black;
  font-size: larger;
  font-style: oblique;
  font-weight: bold;
}

/* ----------------------FOOTER---------------------- */
footer {
  background-color: #ddc67b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans", sans-serif;
}
footer .contenedorMarca {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .contenedorMarca img {
  width: 200px;
  height: 200px;
}
footer .contenedorMarca div {
  border: 1px solid black;
  width: 400px;
  margin: 10px;
}
footer .contenedorMarca div h4 {
  font-weight: bold;
  font-size: 45px;
  text-align: center;
}
footer .contenedorMarca div p {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
/* footer .contenedorMarca h5 {
  font-size: 15px;
  font-weight: bold;
} */
footer .contenedorContacto {
  display: flex;
}
footer .contenedorContacto div {
  text-align: center;
}
footer .contenedorContacto div ul {
  margin: 15px;
}
footer .contenedorContacto div ul li {
  list-style: none;
  transition: 1s;
}
footer .contenedorContacto div ul li:hover {
  transform: scale(1.08);
}
footer .contenedorContacto div ul li:hover a {
  color: #5c0941;
}
footer .contenedorContacto div ul li a {
  text-decoration: none;
  color: black;
}
footer .contenedorContacto div ul li img {
  width: 16px;
  height: 16px;
}
/*--------------------SERVICIOS-------------*/
.personalizarMesa {
  background: linear-gradient(rgba(0, 0, 0, 0.561), rgba(0, 0, 0, 0.51)),
    url("../img/fondoServicios.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.personalizarMesa h2 {
  border: 2px solid black;
  width: 650px;
  height: 80px;
  text-align: center;
  padding: 5px;
  background-color: rgba(250, 128, 114, 0.936);
  font-size: 40px;
  font-weight: bold;
  margin: 20px;
  align-self: flex-start;
}
.personalizarMesa p {
  border: solid 1px black;
  width: 700px;
  height: 200px;
  text-align: center;
  border: 1px solid gray;
  background-color: #b4f8cae8;
  margin: 15px;
  padding: 10px;
  font-size: 24px;
  font-weight: 600;
}
.personalizarMesa button {
  width: 160px;
  height: 50px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.889);
  background-color: rgba(127, 255, 212, 0.889);
  font-size: larger;
  font-style: oblique;
  align-self: flex-start;
  margin: 0px 0px 30px 30px;
  /* font-weight: bold; */
  transition: 1s;
}
.personalizarMesa button:hover {
  transform: scale(1.2);
  background-color: #a72f2f;
  color: white;
}
.introProductos {
  height: 650px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* margin-top: 30px;
  margin-bottom: 50px; */
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans", sans-serif;
  background-color: #fffdd1;
  /* line-height: 0; */
}
.introProductos div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.introProductos div h2 {
  border: 2px solid black;
  width: 650px;
  height: 80px;
  text-align: center;
  padding: 5px;
  background-color: rgba(250, 128, 114, 0.936);
  font-size: 40px;
  font-weight: bold;
  margin: 20px;
  margin-top: 50px;
}
.introProductos div p {
  width: 480px;
  text-align: center;
  border: 1px solid gray;
  background-color: #b4f8cae8;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
}
.introProductos img {
  align-self: center;
  width: 600px;
  height: 550px;
}
.galeriaProductos {
  background-color: #fffdd1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  gap: 15px;
  padding: 30px;
  /* margin: 15px;
  margin-bottom: 50px; */
}
.galeriaProductos div img {
  width: 100%;
  height: 100%;
}
/*--------------------GALERIA-------------- */
.fotosBoda {
  background-color: #ecf87f;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans", sans-serif;
}
.fotosBoda h2 {
  border: 1px solid black;
  background-color: #ddc67b;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}
.fotosBoda .fotosContenedor {
  width: 100%;
  /* margin-top: 50px;
  margin-bottom: 50px; */
  padding: 50px 0 50px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 250px;
  gap: 10px;
}
.fotosBoda .fotosContenedor div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.foto1 {
  grid-column: 1 / span 2;
  grid-row: span 2;
}
.foto2 {
  grid-column: span 2;
}
.foto7 {
  grid-column: span 2;
  grid-row: span 2;
}
.foto16 {
  grid-column: span 2;
}
/*--------------SOBRE NOSOTROS------------ */
.quienesSomos {
  background-color: rgb(238, 156, 231);
}
.quienesSomos div {
  width: 550px;
}
.quienesSomos div h2 {
  border: 1px solid black;
  background-color: #bcea67;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}
.quienesSomos div p {
  border: 1px solid black;
  padding: 10px;
  background-color: #b4f8c9b3;
}
.quienesSomos img {
  width: 600px;
  height: 500px;
  margin: 10px;
}

/*-------------CONTACTO---------------- */

.formulario {
  background-image: url("../img/fondocontacto.jpg");
  background-repeat: var(no-repeat);
  background-position: center;
  background-size: 100vw;
  height: 80vh;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario form {
  background-color: rgba(0, 0, 0, 0.4);
  width: 60%;
  height: 78vh;
  margin: auto;
}
.formulario form h2 {
  font-size: 60px;
  color: #fbe7c6;
  text-align: center;
}
.formulario form .formContenedor {
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formContenedor div input,
textarea {
  width: 500px;
  margin-bottom: 5px;
  padding: 7px;
}
.formContenedor div textarea {
  min-height: 100px;
  max-height: 150px;
  min-width: 500px;
  max-width: 500px;
}

/*--------- MEDIAS QUERIES -----------*/

@media screen and (max-width: 1290px) {
  .introProductos img {
    width: 550px;
    height: 500px;
  }
}
@media screen and (max-width: 1240px) {
  .servicioPersonalizado .servicioImagen img {
    width: 500px;
    height: 500px;
    margin: 10px;
  }
  .trabajos .trabajosImagen img {
    width: 600px;
    height: 500px;
    margin: 40px 0px 40px 10px;
  }
  .introProductos div h2 {
    width: 600px;
    height: 70px;
    font-size: 35px;
  }
  .introProductos div p {
    width: 480px;
    font-size: 25px;
  }
  .introProductos img {
    width: 500px;
    height: 450px;
  }
}
@media screen and (max-width: 1150px) {
  .servicioPersonalizado .servicioImagen {
    margin: 15px 0px 15px 0px;
  }
  .servicioPersonalizado .servicioImagen img {
    width: 450px;
    height: 400px;
    margin: 10px;
  }
  .trabajos .trabajosImagen img {
    width: 500px;
    height: 450px;
    margin: 40px 5px 40px 10px;
  }
  .introProductos img {
    width: 450px;
    height: 400px;
  }
}
@media screen and (max-width: 1100px) {
  .hero h1 {
    font-size: 100px;
    margin-bottom: 10px;
  }
  .hero h2 {
    font-size: 30px;
    margin: 5px;
  }
  .hero div {
    width: 80%;
    margin: 0 auto;
  }
  .hero div p {
    font-size: 15px;
  }
  .servicioPersonalizado .servicioTextoContenedor h2 {
    width: 400px;
    margin: 15px;
    padding: 5px;
    font-size: 25px;
  }
  .servicioPersonalizado .servicioTextoContenedor p {
    width: 380px;
    margin: 7px;
    padding: 7px;
    font-size: 17px;
  }
  .servicioPersonalizado .servicioTextoContenedor button a {
    font-size: larger;
  }
  .servicioPersonalizado .servicioImagen {
    margin: 20px 0px 20px 0px;
  }
  .servicioPersonalizado .servicioImagen img {
    width: 500px;
    height: 450px;
  }
  .trabajos .trabajosTexto h2 {
    width: 400px;
    height: 50px;
    margin: 15px;
    padding: 5px;
    font-size: 25px;
  }
  .trabajos .trabajosTexto p {
    width: 380px;
    margin: 7px;
    padding: 7px;
    font-size: 17px;
  }
  .trabajos .trabajosImagen img {
    width: 550px;
    height: 350px;
    margin: 40px 0px 40px 10px;
  }
  .productosPopulares {
    height: 600px;
  }
  .productosPopulares h2 {
    width: 500px;
    height: 70px;
    padding: 5px;
    font-size: 30px;
  }
  .productosPopulares .contenedorProductos div {
    width: 320px;
    margin: 10px;
  }
  .productosPopulares .contenedorProductos div img {
    width: 317px;
  }
  .tortaTresLeches {
    display: none;
  }
  footer .contenedorMarca img {
    width: 150px;
    height: 150px;
  }
  footer .contenedorMarca div {
    margin-left: 35px;
  }
  .introProductos div h2 {
    width: 500px;
    height: 65px;
    font-size: 30px;
  }
  .introProductos div p {
    width: 400px;
    font-size: 20px;
  }
  .galeriaProductos {
    gap: 10px;
    padding: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .trabajos .trabajosImagen img {
    width: 450px;
    height: 400px;
  }
  .productosPopulares .contenedorProductos div {
    width: 270px;
    margin: 5px;
  }
  .productosPopulares .contenedorProductos div img {
    width: 267px;
  }
  .introProductos {
    height: 100vh;
    flex-direction: column;
  }
  .introProductos div h2 {
    width: 700px;
    height: 80px;
    font-size: 40px;
  }
  .introProductos div p {
    width: 600px;
    font-size: 30px;
  }
  .introProductos img {
    margin: 20px;
    width: 650px;
    height: 500px;
  }
  .galeriaProductos {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
    padding: 12px;
  }
}
@media screen and (max-width: 975px) {
  footer .contenedorMarca div {
    width: 300px;
    margin-left: 20px;
  }
  footer .contenedorMarca div h4 {
    font-size: 40px;
  }
  footer .contenedorMarca div p {
    font-size: 15px;
  }
  footer .contenedorContacto div ul {
    margin: 10px;
  }
}
@media screen and (max-width: 950px) {
  .servicioPersonalizado .servicioImagen img {
    width: 450px;
    height: 400px;
  }
}
@media screen and (max-width: 900px) {
  .servicioPersonalizado .servicioImagen img {
    width: 400px;
    height: 350px;
  }
  .trabajos .trabajosImagen img {
    width: 400px;
    height: 350px;
  }
}
@media screen and (max-width: 860px) {
  .hero {
    height: 60vh;
  }
  .servicioPersonalizado .servicioTextoContenedor h2 {
    width: 300px;
    margin: 15px;
    padding: 5px;
    font-size: 20px;
  }
  .servicioPersonalizado .servicioTextoContenedor p {
    width: 280px;
    margin: 7px;
    padding: 5px;
    font-size: 12px;
  }
  .servicioPersonalizado .servicioTextoContenedor button {
    width: 70px;
    height: 30px;
  }
  .servicioPersonalizado .servicioTextoContenedor button a {
    font-size: 15px;
  }
  .trabajos .trabajosTexto h2 {
    width: 300px;
    font-size: 20px;
  }
  .trabajos .trabajosTexto p {
    width: 280px;
    margin: 7px;
    padding: 5px;
    font-size: 12px;
  }
  /* .trabajos .trabajosTexto button {
    width: 50px;
    height: 20px;
  }
  .trabajos .trabajosTexto button a {
    font-size: 10px;
  } */
  .productosPopulares {
    height: 70vh;
  }
  .productosPopulares h2 {
    width: 300px;
    height: 50px;
    padding: 5px;
    font-size: 20px;
  }
  .productosPopulares .contenedorProductos div {
    width: 200px;
    height: 250px;
    margin: 5px;
  }
  .productosPopulares .contenedorProductos div a img {
    width: 197px;
    height: 200px;
  }
  .productosPopulares .contenedorProductos div h3 {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
  }
  .productosPopulares button {
    width: 80px;
    height: 33px;
  }
  .productosPopulares button a {
    font-size: 13px;
  }
  footer .contenedorMarca img {
    width: 150px;
    height: 150px;
  }
  footer .contenedorMarca div {
    width: 250px;
    margin: 10px;
    padding: 10px;
  }
  footer .contenedorMarca div h4 {
    font-size: 30px;
  }
  footer .contenedorMarca div p {
    font-size: 15px;
  }
  footer .contenedorContacto div ul {
    margin: 7px;
  }
  footer .contenedorContacto div ul li a {
    font-size: 10px;
  }
  footer .contenedorContacto div ul li img {
    width: 10px;
    height: 10px;
  }
}
@media screen and (max-width: 750px) {
  .hero h1 {
    font-size: 70px;
  }
  .hero h2 {
    font-size: 20px;
  }
  .hero div p {
    font-size: 12px;
  }
  .servicioPersonalizado .servicioImagen img {
    width: 320px;
    height: 270px;
  }
  .trabajos .trabajosImagen img {
    width: 320px;
    height: 270px;
  }
  .personalizarMesa h2 {
    width: 500px;
    height: 60px;
    font-size: 30px;
  }
  .personalizarMesa p {
    width: 550px;
    height: 150px;
    font-size: 17px;
    font-weight: 550;
  }
  .personalizarMesa button {
    width: 130px;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
  }
  .introProductos {
    height: auto;
    padding: 20px;
  }
  .introProductos div h2 {
    width: 500px;
    height: 65px;
    font-size: 30px;
  }
  .introProductos div p {
    width: 450px;
    font-size: 17px;
    font-weight: 600;
  }
  .introProductos img {
    margin: 20px;
    width: 550px;
    height: 400px;
  }
}
@media screen and (max-width: 690px) {
  header nav ul li {
    width: 80px;
    height: 30px;
    padding: 2px;
    margin: 10px;
    text-align: center;
  }
  header nav ul li a {
    font-size: 8px;
  }
}
@media screen and (max-width: 690px) {
  .servicioPersonalizado .servicioImagen img {
    width: 270px;
    height: 200px;
  }
  .trabajos .trabajosImagen img {
    width: 270px;
    height: 200px;
  }
  .productosPopulares .contenedorProductos div {
    width: 150px;
    height: 200px;
    margin: 5px;
  }
  .productosPopulares .contenedorProductos div a img {
    width: 147px;
    height: 150px;
  }
  .productosPopulares .contenedorProductos div h3 {
    font-size: 12px;
    margin: 7px;
  }
  footer .contenedorMarca {
    flex-direction: column;
  }
  footer .contenedorMarca img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 620px) {
  header {
    flex-direction: column;
  }
  .servicioPersonalizado .servicioTextoContenedor h2 {
    width: 200px;
    font-size: 13px;
  }
  .servicioPersonalizado .servicioTextoContenedor p {
    width: 180px;
    margin: 7px;
    padding: 5px;
    font-size: 7px;
  }
  .servicioPersonalizado .servicioTextoContenedor button {
    /* width: 50px; */
    height: 27px;
    padding: 0;
  }
  .servicioPersonalizado .servicioTextoContenedor button a {
    font-size: 9px;
    padding: 0;
    margin: 0;
    /* font-style: normal;
    font-weight: normal; */
  }
  .trabajos .trabajosTexto h2 {
    width: 200px;
    height: auto;
    font-size: 13px;
  }
  .trabajos .trabajosTexto p {
    width: 180px;
    font-size: 7px;
  }
  .trabajos .trabajosTexto button {
    width: 45px;
    height: 27px;
  }
  .trabajos .trabajosTexto button a {
    font-size: 7px;
  }
  .productosPopulares {
    height: 40vh;
  }
  .productosPopulares h2 {
    width: 200px;
    height: 40px;
    padding: 5px;
    font-size: 13px;
  }
  .galeriaProductos {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
    padding: 10px;
  }
}
@media screen and (max-width: 570px) {
  .personalizarMesa h2 {
    width: 350px;
    height: 50px;
    font-size: 20px;
  }
  .personalizarMesa p {
    width: 400px;
    height: 110px;
    font-size: 13px;
  }
  .personalizarMesa button {
    width: 100px;
    height: 25px;
    font-size: 10px;
  }
  .introProductos div h2 {
    width: 350px;
    height: 50px;
    font-size: 20px;
  }
  .introProductos div p {
    width: 300px;
    font-size: 13px;
  }
  .introProductos img {
    width: 400px;
    height: 250px;
  }
}
@media screen and (max-width: 526px) {
  .servicioPersonalizado {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .servicioPersonalizado .servicioTextoContenedor h2 {
    width: 350px;
    font-size: 25px;
  }
  .servicioPersonalizado .servicioTextoContenedor p {
    width: 400px;
    font-size: 17px;
  }
  .servicioPersonalizado .servicioTextoContenedor button {
    align-self: flex-end;
    width: 60px;
    height: 30px;
  }
  .servicioPersonalizado .servicioTextoContenedor button a {
    font-size: 12px;
  }
  .servicioPersonalizado .servicioImagen img {
    width: 450px;
    height: 300px;
  }
  .trabajos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .trabajos .trabajosTexto h2 {
    width: 350px;
    font-size: 25px;
  }
  .trabajos .trabajosTexto p {
    width: 400px;
    font-size: 17px;
  }
  .trabajos .trabajosTexto button {
    align-self: flex-end;
    width: 60px;
    height: 30px;
  }
  .trabajos .trabajosTexto button a {
    font-size: 12px;
  }
  .trabajos .trabajosImagen img {
    width: 450px;
    height: 300px;
  }
  .productosPopulares h2 {
    width: 350px;
    height: 50px;
    font-size: 25px;
  }
  footer .contenedorMarca div {
    width: 250px;
  }
  footer .contenedorMarca div h4 {
    font-size: 20px;
  }
  footer .contenedorMarca div p {
    font-size: 10px;
  }
  footer .contenedorContacto div h5 {
    font-size: 10px;
    text-align: center;
  }
  footer .contenedorContacto div ul {
    margin: 5px;
    list-style: none;
  }
  footer .contenedorContacto div ul li a {
    font-size: 7px;
  }
}
@media screen and (max-width: 500px) {
  /* header nav ul {
    justify-content: start;
  } */
  header nav ul li {
    margin: 5px;
    /* text-align: center; */
  }
  .hero h1 {
    font-size: 50px;
  }
  .hero h2 {
    font-size: 15px;
  }
  .hero div p {
    font-size: 10px;
  }
  .servicioPersonalizado .servicioTextoContenedor h2 {
    width: 270px;
    font-size: 20px;
  }
  .servicioPersonalizado .servicioTextoContenedor p {
    width: 350px;
    font-size: 15px;
  }
  .servicioPersonalizado .servicioImagen img {
    width: 370px;
    height: 250px;
  }
  .trabajos .trabajosTexto h2 {
    width: 270px;
    font-size: 20px;
  }
  .trabajos .trabajosTexto p {
    width: 350px;
    font-size: 15px;
  }
  .trabajos .trabajosImagen img {
    width: 370px;
    height: 250px;
  }
  .productosPopulares h2 {
    width: 270px;
    height: 60px;
    font-size: 20px;
  }
  .productosPopulares .contenedorProductos .pastaflora {
    display: none;
  }
  footer .contenedorMarca div {
    width: 200px;
  }
}
@media screen and (max-width: 451px) {
  header img {
    width: 70px;
    height: 70px;
  }
  header nav ul li {
    width: 60px;
    height: 30px;
  }
  header nav ul li a {
    font-size: 5px;
    margin-bottom: 30px;
  }
  .personalizarMesa {
    height: 50vh;
  }
  .personalizarMesa h2 {
    width: 250px;
    height: 35px;
    font-size: 15px;
  }
  .personalizarMesa p {
    width: 300px;
    height: 70px;
    font-size: 8px;
  }
  .personalizarMesa button {
    width: 70px;
    height: 20px;
    font-size: 8px;
  }
  .introProductos div h2 {
    width: 250px;
    height: 35px;
    font-size: 15px;
  }
  .introProductos div p {
    width: 250px;
    font-size: 9px;
  }
  .introProductos img {
    width: 350px;
    height: 200px;
  }
  .galeriaProductos {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;
    padding: 10px;
  }
}
@media screen and (max-width: 400px) {
  .hero h1 {
    font-size: 45px;
  }
  .servicioPersonalizado .servicioTextoContenedor h2 {
    width: 230px;
    font-size: 17px;
  }
  .servicioPersonalizado .servicioTextoContenedor p {
    width: 300px;
    font-size: 13px;
  }
  .servicioPersonalizado .servicioImagen img {
    width: 330px;
    height: 200px;
  }
  .trabajos .trabajosTexto h2 {
    width: 230px;
    font-size: 17px;
  }
  .trabajos .trabajosTexto p {
    width: 300px;
    font-size: 13px;
  }
  .trabajos .trabajosImagen img {
    width: 330px;
    height: 200px;
  }
  footer .contenedorMarca div {
    width: 170px;
  }
  footer .contenedorContacto {
    flex-direction: column;
  }
}
@media screen and (max-width: 366px) {
  .introProductos img {
    width: 320px;
    height: 200px;
  }
}
