// ------FOOTER------
footer {
  background-color: $colorFooter;
  @include flex(flex, space-around, center, row);
  height: 250px;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans", sans-serif;
  .contenedorMarca {
    @include flex(flex, center, center, row);
    img {
      width: 200px;
      height: 200px;
    }
    div {
      border: 1px solid black;
      width: 400px;
      margin: 10px;
      h4 {
        font-weight: bold;
        font-size: 45px;
        text-align: center;
      }
      p {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
      }
    }
  }
  .contenedorContacto {
    @include flex(flex, center, stretch, row);
    font-family: "Lato", sans-serif;
    font-family: "Noto Sans", sans-serif;
    div {
      @include flex(flex, center, stretch, column);
      text-align: center;
      h5 {
        font-size: 30px;
        transition: 1s;
        &:hover {
          transform: scale(1.08);
        }
      }
      ul {
        li {
          list-style: none;
          text-align: center;
          font-size: 15px;
          transition: 1s;
          &:hover {
            transform: scale(1.08);
            color: #a72f2f;
            a {
              color: #a72f2f;
            }
          }
          a {
            text-decoration: none;
            color: black;
            margin: 2px;
          }
        }
      }
    }
  }
}
