// VARIABLES
$bgTitulos: rgba(250, 128, 114, 0.736);
$bgParrafo: #b4f8c9b3;
$colorHeader: #fbe7c6;
$colorFooter: #ffaff0;

// MIXINS
@mixin flex($display, $justify, $align, $direction) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
